In [12]:
import statistics
import seaborn as sns
import pandas as pd

In [2]:
data1=[45,42,42,41,40]
data2=[54,48,42,33,33]

In [3]:
statistics.mean(data1)

42

In [4]:
statistics.mean(data2)

42

### Range

In [5]:
max(data1)-min(data1)

5

In [6]:
max(data2)-min(data2)

21

### variance

In [7]:
statistics.variance(data1)

3.5

In [8]:
statistics.variance(data2)

85.5

### Standar deviation

In [9]:
statistics.pstdev(data1)

1.6733200530681511

In [10]:
statistics.pstdev(data2)

8.270429251254134

In [13]:
 df=sns.load_dataset('mpg')

In [14]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [15]:
df['mpg'].max()-df['mpg'].min()

37.6

In [16]:
df['weight'].max()-df['weight'].min()

3527

In [17]:
statistics.variance(df['mpg'])

61.08961077427439

In [18]:
statistics.mean(df['mpg'])

23.514572864321607

In [19]:
statistics.pstdev(df['mpg'])

7.806159061274432

In [20]:
statistics.mean(df['weight'])

2970.424623115578

In [21]:
statistics.pstdev(df['weight'])

845.7772335198174

### Quartiles

In [23]:
age=[20,25,40,50,55,60,62]

In [24]:
statistics.median(age)

50

Q2=50
Q1=32.5
Q2=115/2=57.5